<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="app.component.css">
  <title>Document</title>
</head>
<body>
  <header>
    
    <div class="container">
      <img src="../assets/atech-black-logo.png" alt="logo" class="logo" width="12%">
      <nav>
        <ul>
          <li><a href="/home" role="button">Home</a></li>
          <li><a href="/greeting" role="button">Greeting</a></li>
          <li><a href="/send-file" role="button">Send File</a></li>
          <li><a href="/history" role="button">History</a></li>
          <li><a href="/graphs-generation" role="button">Graphs</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>
</body>
</html>
